<!DOCTYPE html>
  <head>
    <title>Snippet Organizer</title>
  </head
  <body>
    <h1>Register</h1>
    {{#messages.error}}
      {{.}}
    {{/messages.error}}
    <form method="POST" action="/register/">
        <label class="form-control-label" for="username-input">Username</label>
        <input type="text" id="username-input" name="username" class="form-control" value="{{username}}" />
        <label class="form-control-label" for="password-input">Password</label>
        <input type="password" id="password-input" name="password" class="form-control" />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
